.authentication {
    width: 90%;
    max-width: 25rem;
    margin: 6rem auto;
    text-align: center;
}

.login-card {
    height:45vh;
    max-height: fit-content;
}

.login-card h4{
    margin: 1%;
}


.authentication input {
    border-radius: 7px;
    height: 4vh;
    width:80%;
    margin-bottom: 2%;
    font: inherit;
    border: 1px solid rgb(204, 204, 204);
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
}