.ocarousel {
    margin-top: -35px;
}

.slider {
    position: relative;
    height:53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.image {
    padding-top: 8px;
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    position: relative;  
    padding: 0;
}

.right-arrow {
    position: absolute;
    top: 45%;
    right: 2%;
    font-size: 3rem;
    color:#0000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: #020d2b;
}

.left-arrow {
    position: absolute;
    top: 45%;
    left: 2%;
    font-size: 3rem;
    color:#0000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    color: #020d2b;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media only screen and (max-width: 640px) {
    .right-arrow {
        right:-155%;
    }
  .ocarousel {
      margin-top: -25px;
      width: 70%;
  }
  .image {
    padding-top: 8px;
    width: 250%;
    height: 300px;
    border-radius: 10px;
    position: relative;  
}
  }